<br><br><br><br><br>
<div class="container">
<h1 class="titulo">Editing Tv Show</h1>
  <!-- Content here -->
  <%= render 'form', tv_show: @tv_show%>

<%= link_to  'Show', @tv_show, class: "btn btn-1"%> |
<%= link_to 'Back', tv_shows_path, class: "btn btn-2" %>
</div>
