<br><br><br>
<div class="container">
    <h1  class="titulo" style="width:700px">New Tv Show</h1><br>
    <h3>Ingrese un nuevo Tv Show</h3>
    <%= render 'form', tv_show: @tv_show %>
    <%= link_to 'Back', tv_shows_path, class: "btn btn-2" %>
</div>